body {
  background-color: #d0d0d0;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: rgb(14, 79, 137);
}

#cuenta {
  font-size: 40px;
  color: rgb(20, 116, 71);
}

img {
  width: 200px;
}

.btn {
  font-size: 25px;
}
