body {
  background-color: #7bc6df;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: rgb(14, 79, 137);
}

#cuenta {
  font-size: 40px;
  color: rgb(20, 116, 71);
}

img {
  max-width: 300px;
}
